.foma-warning {
    padding: 15px 20px;
    background: #fffdc7;
    border: 1px solid #e1d282;
    box-shadow: 0 2px 3px rgba(77, 47, 0, 0.1);
    margin-bottom: 10px;
    border-radius: 5px;
    display: block;
}

.foma-warning__item {
    color: #50808a;
    text-decoration: underline;
    cursor: pointer;
}

.chrome,
.firefox,
.opera,
.safari {
    color: #fff;
    font-size: 2.4em;
    text-align: center;
    line-height: 100px;
    height: 100px;
    width: 220px;
    display: inline-block;
    margin: 0 5px 5px 0;
    cursor: pointer;
    text-transform: uppercase;
    position: relative;
}

.chrome {
    background: green;
}

.firefox {
    background: orange;
}

.opera {
    background: red;
}

.safari {
    background: blue;
}

.selected {
    background: black;
}

.selected:before {
    content: 'You selected';
    font-size: 13px;
    position: absolute;
    display: block;
    height: 20px;
    width: 100%;
    text-align: center;
    top: 10px;
    left: 0;
    line-height: 1.9;
}

.validator {
    display: block;
}

.validator__target {
    display: inline-block;
    width: 100%;
}

.validator__error {
    background: rgba(234, 97, 97, .8);
    color: #fff;
    display: inline-block;
    margin-left: 15px;
    position: absolute;
    border-radius: 4px;
    padding: 7px;
}

.validator__error:after {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(234, 97, 97, 0);
    border-right-color: rgba(234, 97, 97, .8);
    border-width: 8px;
    margin-top: -8px;
}

